* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
}

.center,
.box-content.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.box {
  width: 100%;
  height: 100vh;
  background-color: gray;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.box-content {
  font-size: 36px;
  height: 100%;
  width: 100%;
}

.box-2 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAANElEQVQYV2NMblv8nwEPEOQXAssy4lIIU/D+4zvsCtEVwCyDm4hLAVxhydStYDfCrMDlXADoqRjvD5+96gAAAABJRU5ErkJggg==);
}

.box-3 {
  background-color: hsl(210, 21%, 50%);
}

.row {
  height: 50%;
  width: 100%;
  position: relative;
  font-size: 36px;
}

.row-1 {
  background-color: hsl(210, 21%, 30%);
}

.row-2 {
  background: url(../images/manatee.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box img {
  width: 300px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .box {
    height: 70vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box {
    height: 100vh;
    width: 50%;
  }

  .box-3 {
    width: 100%;
    height: 50vh;
  }
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {
  .box {
    width: 33.33%;
    height: 100vh;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

}

